.sub-section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  color: var(--accent-color);
  position: relative;
}

.tech-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  align-items: center;
}

.tech-row {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 4rem;
}

.tech-offset-row {
  margin: -7.5rem 0;
}

.diammond {
  width: 240px;
  height: 240px;
  background-color: var(--accent-color);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  position: relative;
}

.diammond:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 25px 50px var(--accent-color));
}

.tech-row,
.tech-grid {
  overflow: visible;
}

.tech-diammond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  text-decoration: none;
  width: 97%;
  height: 97%;
}

.tech-diammond span {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  color: var(--accent-color);
}

.tech-icon {
  width: 90px;
  height: 90px;
  fill: var(--accent-color);
  transition: filter 0.3s ease;
  border-radius: 5px;
}

.vscode-icon {
  filter: drop-shadow(0 0 10px #00d9ff);
}

.github-icon {
  filter: drop-shadow(0 0 10px #ffffff);
  border-radius: 15px;
}

.openai-icon {
  filter: drop-shadow(0 0 10px #ffffff);
}

.figma-icon {
  filter: drop-shadow(0 0 10px #d89519);
}